
body {
  font-family: 'Lato', serif;
  margin: 0;
}

#content {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

/*head part 1 start /////////////////////*/

header {
  margin-bottom: 50px;
}

header nav {
  margin: 0 auto;
  width:100%;
  max-width: 800px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #010101;
  padding: 10px 0;
  -webkit-box-shadow: 0px 6px 9px -8px rgba(107,107,107,1);
  -moz-box-shadow: 0px 6px 9px -8px rgba(107,107,107,1);
  box-shadow: 0px 6px 9px -8px rgba(107,107,107,1);
  position:fixed;
  background-color: white;
  text-align: center;
  z-index: 100;
}

header nav img {
  width: 44px;
}

header nav a {
  display:inline-block;
  height: 80px;
}

header nav a:hover {
  cursor: pointer;
  transform: translate(0px,-5px) rotate(5deg);
  -webkit-transform: translate(0px, -5px) rotate(5deg);
  transition: all 0.3s ease-in-out 0s;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

a:link, a:visited {
  text-decoration: none;
  color: black;
}

nav .navLink {
  display: inline-block;
  text-align: center;
  width: 5em;
  margin: 5px 25px;
}

#logoBox {
  width: 174px;
  margin: 0em auto 3em auto;
  padding-top: 150px;
}

#logoBox img {
  width: 100%;
}

#quoteBox {
  text-align: center;
  font-family: 'Vollkorn', serif;
  line-height: 24px;
  color: #454545;
  width:500px;
  margin-left:auto;
  margin-right:auto;
}

#quote {
  font-family: 'Vollkorn', serif;
  font-style: italic;
  font-size: 18px;
}

/*head part 1 end /////////////////////*/



/*work part 2 start /////////////////////*/

section#works {
  margin: 0 auto;
}

#showcase {
  word-spacing: 2px;
}

.caseCover {
  max-width: 194px;
  height: 194px;
}

.caseCover:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
  transition: all 0.3s ease-in-out 0s;
}

.subtitle {
  background: black;
  color: white;
  padding: 0.6em 2.0em;
  display: inline-block;
  width: 194px;
  height: 40px;
  font-size: 16px;
  line-height: 20px;
  box-sizing: border-box;
  margin-top: 50px;
  margin-bottom: 30px;

}

#titleWorks:before {
  content: '>>'
}

#titleBlog:before {
  content: '>>'
}

.caseEntry {
  display: inline-block;
  width: 194px;
}

.caseHeading {
  background-color: #EAEAEA;
  padding: 10px 15px;
  margin-top: 2px;
  font-weight: lighter;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: #5E5E5E;
  height: 20px;
}

.caseHeading:hover{
  cursor: pointer;
  background-color: #31afbe;
  color: white; 
  transition: all 0.3s ease-in-out 0s;
}

/*work part 2 end /////////////////////*/



/*blog part 3 start /////////////////////*/

.blogEntry {
  margin: 0 0 30px 0;
}

.blogEntry h2 {
  display: inline-block;
}

.pubdate {
  margin-left: 10px;
  word-spacing: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.pubdate:before {
  content: '| ';
}

.blogHeading {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0 0 15px 0 ;
}

.blogDigest {
  font-family : Roboto;
  font-style: light;
  font-size : 15px;
  line-height : 20.32px;
  color : #5E5F5F;
}

#moreBlogs {
  display: block;
  text-align: center;
  background-color: #EAEAEA;
  padding: 10px 15px;
  margin-top: 2px;
  font-weight: lighter;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: #5E5E5E;
  height: 20px;
}

#moreBlogs:hover {
  cursor: pointer;
  background-color: #31afbe;
  color: white; 
  transition: all 0.3s ease-in-out 0s;;
}

#moreBlogs:after {
  content: ' >>';
}

/*blog part 3 end /////////////////////*/


footer {
  margin-top: 70px;
  height: 300px;
  width: 100%;
  background-color: #EEE;
  padding-top: 20px;
}

#mce-EMAIL {
  display: inline;
}

#mc_embed_signup {
  width: 50%;
  margin: 2em auto;
}

div.clear {
  display: inline;
}

#mc-embedded-subscribe {
  background-color: black;
  color: white;
}

#mc_embed_signup_scroll {
  text-align: center;
  margin: 3em 0;
}

#mc_embed_signup_scroll .email {
  width: 250px;
  height: 26px;
  padding: 1px 10px;
  font-size : 15px;
  font-family: "Roboto", sans-serif;
}

#mc_embed_signup_scroll .clear input {
  width: 100px;
  height: 30px;
  border : solid 0px #ffffff;
  font-size : 15px;
  color : #FFFFFF;
  padding : 1px 10px;
  background-color : #212121;
  font-family: "roboto", sans-serif;
}

#mc_embed_signup_scroll .clear input:hover {
  cursor: pointer;
  background-color: #31afbe;
  color: white; 
  transition: all 0.3s ease-in-out 0s;
}


#copyrightNotice {
  width: 20%;
  margin: 5em auto 0;
  text-align: center;
}

#menuButton {
  position: absolute;
  top: 50px;
  right: 50px;
}

#topButton {
  position: fixed;
  right: 50px;
  bottom: 50px;
  cursor: pointer;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.8);
  z-index: 100;
  color: white;
  display: none;
}

.lightbox h1 {
  text-transform: uppercase;
  display: inline-block;
}

.lightbox time {
  color: #999;
  margin-left: 4em;
}

.lightbox a {
  color: #CCC;
}

.lightbox-innerBox {
  margin: 0 auto;
  width: 60%;
}

.lightbox-btnClose {
  font-size: 2em;
  width: 50%;
  margin: 0 auto;
  color: white;
  text-align: center;
  padding: 1em;
  cursor: pointer;
}

.lightbox-description {
  line-height: 1.5;
  font-size: 1.1em;
  color: #ccc;
}

.lightbox-projectLink {
  margin-top: 1em;
}

.imageBox img {
  width: 80%;
  margin: 1em auto;
}
