
body {
  font-family: 'Cambria', serif;
}

#content {
  width: 50%;
  margin: 0 auto;
}

header {
  margin: 0 auto;
  width: 80%;
  font-family: 'Lato', sans-serif;
}

header nav img {
  width: 44px;
}

nav {
  text-align: center;
  margin: 3em 0;
}

a:link, a:visited {
  text-decoration: none;
  color: black;
}

nav .navLink {
  display: inline-block;
  text-align: center;
  width: 5em;
}

div.navLink img {
  margin-bottom: 0.3em;
}

#logoBox {
  width: 200px;
  margin: 3em auto;
}

#logoBox img {
  width: 100%;
}

#quoteBox {
  text-align: center;
}

#quote {
  font-style: italic;
}

section#works {
  margin: 0 auto;
}

#showcase {
  word-spacing: 2px;
}

.caseCover {
  max-width: 190px;
  height: 195px;
}

.subtitle {
  background: black;
  color: white;
  padding: 1em 1.5em;
  display: inline-block;
  width: 190px;
  box-sizing: border-box;
  margin: 2em 0;
}

#titleWorks:before {
  content: '>>'
}

.caseEntry {
  display: inline-block;
}

.caseHeading {
  background-color: #DDD;
  padding: 1em 0.5em;
  font-weight: lighter;
  font-size: 100%;
}

.blogEntry {
  margin: 1em 0;
}

.blogEntry h2 {
  display: inline-block;
}

.pubdate {
  margin-left: 10px;
  word-spacing: 5px;
}

.pubdate:before {
  content: '| ';
}

.blogDigest {
  color: #AAA;
  line-height: 1.5;
}

#moreBlogs {
  display: block;
  background-color: #EEE;
  padding: 0.5em;
  margin: 1em 0;
  color: #333;
  text-align: center;
}

#moreBlogs:after {
  content: ' >>';
}

footer {
  margin-top: 50px;
  height: 300px;
  width: 100%;
  background-color: #EEE;
  padding-top: 20px;
}

#mce-EMAIL {
  display: inline;
}

#mc_embed_signup {
  width: 50%;
  margin: 0 auto;
}

div.clear {
  display: inline;
}

#mc-embedded-subscribe {
  background-color: black;
  color: white;
}

#mc_embed_signup_scroll {
  text-align: center;
  margin: 2em 0;
}

#copyrightNotice {
  width: 20%;
  margin: 5em auto 0;
  text-align: center;
}

#menuButton {
  position: absolute;
  top: 50px;
  right: 50px;
}

#topButton {
  position: fixed;
  right: 50px;
  bottom: 50px;
}
